# Ignore all .config files
*.config
*.toml
timeshift_btrfs_sync/__pycache__

# But keep the example config tracked
!config.example.config
!config.example.toml

# Runtime logs
logs/
**/logs/

# Python cache files
__pycache__/
**/__pycache__/
*.py[cod]
