# /etc/sudoers.d/ts-btrfs-source
# Edit with: sudo visudo -f /etc/sudoers.d/ts-btrfs-source
ts-btrfs-sync-user ALL=(root) NOPASSWD: /usr/bin/btrfs *
ts-btrfs-sync-user ALL=(root) NOPASSWD: /usr/bin/timeshift *
